.slider {
    max-height: 50vh;
    aspect-ratio: 1;
}

.product-name {
    margin-top: 20px;
    height: 105px;
}

 .hidden-product {
   position: absolute;
   transform: translate(700px,-700px);
   transition: all 1s ease-in;

}
 
.carousel-slider {
    transition: all 0.7s ease-out;
}



.slider-container {
    display: flex;
    overflow: hidden;
}

.user_img_container {
    position: absolute;
    top: 0.5rem;
    left: 16rem;
    border-radius: 100%;
    border: 2px solid var(--accent-color);
}

.user_img {
    border-radius: 100%;
    height: 4rem;
}

.product-name {
    margin: 0;
    padding-top: 0.3rem;
    padding-bottom: 0.5rem;
    height: auto;
}

.button-group {
    margin: 0;
}