.bottom-navigation {
    background-color: var(--accent-color);
}

.bottom-navigation-action .Mui-selected {
    color: white;
}

.Mui-selected svg {
    color: white;
}

.bottom-navigation-action .avatar {
    height: 23px;
}