.user-preview {
    color: rgb(201, 199, 199);
    border-bottom: 1px solid rgb(201, 199, 199);
    display: flex;
    justify-content: space-between;
 }

.user-preview img {
    border-radius: 50%;
    width: 50px;
    margin: 0.25rem;
}

.user-preview p {
     margin-left: 0.5rem;
     color: var(--text-color);
}